/* --------------------------------------------------------------------- */

stw_opensyde_gui--C_SyvDaItChartWidget[Style="FLAT_BRIGHT"] {
border-width: 1px;
border-style: solid;
}

/* --------------------------------------------------------------------- */
