/* --------------------------------------------------------------------- */
QComboBox{
border-width:1px;
border-style:solid;
}

QComboBox QAbstractItemView{
outline:none;
}

QComboBox::down-arrow {
border-image: url(:/images/GroupBoxDownArrow.png) 0 0 0 0 stretch stretch;
}

QComboBox::down-arrow:!enabled {
border-image: url(:/images/GroupBoxDownArrowDisabled.png) 0 0 0 0 stretch stretch;
}

QComboBox::drop-down:button{
border-width:0px;
}

/* Drop down menu */
QComboBox QListView {
border-width:1px;
border-style:solid;
}

stw_opensyde_gui_elements--C_OgeCbxListHeader::down-arrow {
border-image: none;
}

stw_opensyde_gui_elements--C_OgeCbxListHeader::down-arrow:!enabled {
border-image: none;
}

stw_opensyde_gui_elements--C_OgeCbxListHeader::down-arrow:enabled:on,
stw_opensyde_gui_elements--C_OgeCbxListHeader::down-arrow:enabled:focus {
border-image: url(:/images/GroupBoxDownArrow.png) 0 0 0 0 stretch stretch;
}

/*Setup style specific*/
/*
stw_opensyde_gui_elements--C_OgeCbxIconOnly is Base class with specific paint helper
*/

stw_opensyde_gui_elements--C_OgeCbxIconOnly QAbstractItemView {
margin-left:-11px;
margin-right:-11px;
}

stw_opensyde_gui_elements--C_OgeCbxIconOnly{
padding-left:5px;
}

stw_opensyde_gui_elements--C_OgeCbxLine{
padding-right: 0px;
padding-left: 5px;
padding-bottom: 0px;
padding-top: 1px;
}

stw_opensyde_gui_elements--C_OgeCbxLine QAbstractItemView  {
margin-left:0px;
margin-right:0px;
}

stw_opensyde_gui_elements--C_OgeCbxLine QAbstractItemView::item {
padding-top:12px;
padding-bottom:12px;
}

stw_opensyde_gui_elements--C_OgeCbxArrow {
padding-right: 0px;
padding-left: 5px;
padding-bottom: 0px;
padding-top: 1px;
}

stw_opensyde_gui_elements--C_OgeCbxArrow QAbstractItemView  {
margin-left:0px;
margin-right:0px;
}

stw_opensyde_gui_elements--C_OgeCbxArrow QAbstractItemView::item {
padding-top:5px;
padding-bottom:5px;
}

/*Default text specific*/
stw_opensyde_gui_elements--C_OgeCbxFontProperties,
stw_opensyde_gui_elements--C_OgeCbxTable,
stw_opensyde_gui_elements--C_OgeCbxListHeader,
stw_opensyde_gui_elements--C_OgeCbxText {
padding-right: 0px;
padding-left: 8px;
padding-bottom: 2px;
padding-top: 0px;
}
stw_opensyde_gui_elements--C_OgeCbxParam {
padding-right: 0px;
padding-left: 2px;
padding-bottom: 2px;
padding-top: 0px;
}

stw_opensyde_gui_elements--C_OgeCbxParam QAbstractItemView,
stw_opensyde_gui_elements--C_OgeCbxFontProperties QAbstractItemView,
stw_opensyde_gui_elements--C_OgeCbxTable QAbstractItemView,
stw_opensyde_gui_elements--C_OgeCbxListHeader QAbstractItemView,
stw_opensyde_gui_elements--C_OgeCbxText QAbstractItemView {
margin-left:0px;
margin-right:0px;
}

stw_opensyde_gui_elements--C_OgeCbxFontProperties QAbstractItemView::item,
stw_opensyde_gui_elements--C_OgeCbxTable QAbstractItemView::item,
stw_opensyde_gui_elements--C_OgeCbxListHeader QAbstractItemView::item,
stw_opensyde_gui_elements--C_OgeCbxText QAbstractItemView::item {
padding-top:5px;
padding-bottom:5px;
}

stw_opensyde_gui_elements--C_OgeCbxParam QAbstractItemView::item {
padding-top:2px;
padding-bottom:2px;
}

stw_opensyde_gui_elements--C_OgeCbxTable {
border-style: solid;
border-width: 1px;
margin-top: 3px;
max-height:30px;
}

/* Custom param widget style */
stw_opensyde_gui_elements--C_OgeCbxParam {
border-style: solid;
border-width: 1px;
margin-top: 0px;
max-height:20px;
}

/* --------------------------------------------------------------------- */
