/* --------------------------------------------------------------------- */
/* STYLE_GUIDE */
/* --------------------------------------------------------------------- */
/* Order:                   */
/*  font size guide index   */
/*    - regular             */
/*    - semi-bold           */
/*    - bold                */

/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_10 */
stw_opensyde_gui_elements--C_OgeLabUpdateAppPath
{
font-family: "Segoe UI";
font-size: 10px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_REGULAR_11 */
QTextEdit#pc_TextEditDpComment,
stw_opensyde_gui--C_SyvDaItTaView,
stw_opensyde_gui--C_SyvDaItTaView::item,
stw_opensyde_gui--C_SyvDaItPaTreeView,
stw_opensyde_gui--C_SyvDaItPaTreeView::item,
stw_opensyde_gui_elements--C_OgeLeParam,
stw_opensyde_gui_elements--C_OgeWiParamSpinBoxGroup QAbstractSpinBox,
stw_opensyde_gui_elements--C_OgeCbxParam,
stw_opensyde_gui_elements--C_OgeCbxParam QAbstractItemView,
stw_opensyde_gui_elements--C_OgeLabStatusInformationSmall,
stw_opensyde_gui_elements--C_OgeLabGroupSubItem
{
font-family: "Segoe UI";
font-size: 11px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_12 */
stw_opensyde_gui--C_SdTopologyListWidget,
stw_opensyde_gui_elements--C_OgePubNavigationHover,
stw_opensyde_gui_elements--C_OgeLabUpdateAppTitle,
stw_opensyde_gui_elements--C_OgeLabUpdateAppVersion,
stw_opensyde_gui--C_SdTopologyListWidget::item:selected,
stw_opensyde_gui--C_SdTopologyListWidget::item:hover,
stw_opensyde_gui_elements--C_OgeTedTable,
stw_opensyde_gui_elements--C_OgeTedSdListHeader,
stw_opensyde_gui_elements--C_OgeTedSyListHeader,
stw_opensyde_gui_elements--C_OgeLabToolBarSearchResultTitle,
stw_opensyde_gui_elements--C_OgeLabToolBarSearchResultSubtitle,
stw_opensyde_gui_elements--C_OgeLabToolBarNoSearchResult,
stw_opensyde_gui_elements--C_OgeLeToolBarSearch,
stw_opensyde_gui_elements--C_OgeTebMessageDetails
{
font-family: "Segoe UI";
font-size: 12px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_12 */
stw_opensyde_gui_elements--C_OgeLabNavigationSubHeading
{
font-family: "Segoe UI Semibold";
font-size: 12px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_13 */
stw_opensyde_gui_elements--C_OgePubOptions,
stw_opensyde_gui--C_SyvDaItTaView QHeaderView,
stw_opensyde_gui--C_SyvDaItPaTreeView QHeaderView,
stw_opensyde_gui_elements--C_OgeLabPropertiesSubHeading,
stw_opensyde_gui_elements--C_OgeRabProperties,
stw_opensyde_gui_elements--C_OgePubToggle,
stw_opensyde_gui_elements--C_OgeLabGroupItem,
stw_opensyde_gui_elements--C_OgeChxProperties,
stw_opensyde_gui_elements--C_OgeLabGroupItemValue,
stw_opensyde_gui_elements--C_OgeCbxFontProperties,
stw_opensyde_gui_elements--C_OgeCbxFontProperties QListView,
stw_opensyde_gui_elements--C_OgeCbxText,
stw_opensyde_gui_elements--C_OgeCbxTextLineEdit,
stw_opensyde_gui_elements--C_OgeCbxText QListView,
stw_opensyde_gui_elements--C_OgeCbxLine,
stw_opensyde_gui_elements--C_OgeCbxLine QListView,
stw_opensyde_gui--C_SyvDaItPaArView,
stw_opensyde_gui_elements--C_OgeCbxArrow,
stw_opensyde_gui_elements--C_OgeCbxArrow QListView,
stw_opensyde_gui--C_SdNdeDpListArrayEditView,
stw_opensyde_gui--C_SdNdeDpListArrayEditView::item,
stw_opensyde_gui--C_SdNdeDpListDataSetView,
stw_opensyde_gui--C_SdNdeDpListDataSetView::item,
stw_opensyde_gui--C_SdNdeSfoResetMessageTableView,
stw_opensyde_gui--C_SdNdeSfoResetMessageTableView::item,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF QCheckBox,
stw_opensyde_gui_elements--C_OgeLabNodePropComIfTable,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF::item,
stw_opensyde_gui_elements--C_OgeSpxTableComIf,
stw_opensyde_gui_elements--C_OgeSpxNumber,
stw_opensyde_gui_elements--C_OgeSpxDoubleProperties,
stw_opensyde_gui_elements--C_OgeSpxInt64Properties,
stw_opensyde_gui_elements--C_OgeSpxFactorProperties,
stw_opensyde_gui_elements--C_OgeWiSpinBoxGroupProperties QAbstractSpinBox,
stw_opensyde_gui_elements--C_OgeTedPropertiesComment,
stw_opensyde_gui_elements--C_OgeTebReport,
stw_opensyde_gui--C_TblTreDataElementView,
stw_opensyde_gui--C_SdBueMessageSelectorTreeWidget,
stw_opensyde_gui_elements--C_OgeChxDefaultSmall,
stw_opensyde_gui_elements--C_OgeLeProperties,
stw_opensyde_gui_elements--C_OgeLeFilePath,
stw_opensyde_gui_elements--C_OgePubProjAction[CanMonitorButton="true"],
stw_opensyde_gui_elements--C_OgeTedToolTipContent,
stw_opensyde_gui--C_SdNdeDpSelectorAddListWidget,
stw_opensyde_gui_elements--C_OgeMuSections::item,
stw_opensyde_gui_elements--C_OgeMuSections QLabel,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 13px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_13 */
stw_opensyde_gui_elements--C_OgePubProjAction[Border="true"],
stw_opensyde_gui_elements--C_OgePubConfigure,
stw_opensyde_gui_elements--C_OgeLeSearch,
stw_opensyde_gui_elements--C_OgePubToolBar,
stw_opensyde_gui--C_SdNdeSfoResetMessageTableView QHeaderView,
stw_opensyde_gui--C_SdNdeSfoResetMessageTableView QHeaderView::section,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF QHeaderView,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF QHeaderView::section,
stw_opensyde_gui_elements--C_OgePubTreeWidgetRoot,
stw_opensyde_gui--C_SdBueNodeSelectorWidget QLabel#pc_BueNodeSelectorTitleLabel,
stw_opensyde_gui_elements--C_OgePubMessageOk,
stw_opensyde_gui_elements--C_OgePubMessageCancel
{
font-family: "Segoe UI Semibold";
font-size: 13px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_BOLD_13 */
stw_opensyde_gui_elements--C_OgePubToggleBold
{
font-family: "Segoe UI";
font-size: 13px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_14 */
stw_opensyde_gui_elements--C_OgeLeNavigation,
stw_opensyde_gui_elements--C_OgeLabFrameError,
stw_opensyde_gui_elements--C_OgePubNavigation,
stw_opensyde_gui--C_SyvDaPeUpdateModeTableView,
stw_opensyde_gui--C_SyvDaPeUpdateModeTableView::item,
stw_opensyde_gui_elements--C_OgeLabToolboxHeadingGroup,
stw_opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab,
stw_opensyde_gui_elements--C_OgeLeTable,
stw_opensyde_gui_elements--C_OgeSpxInt64FactorTable,
stw_opensyde_gui_elements--C_OgeSpxInt64Table,
stw_opensyde_gui_elements--C_OgeSpxTable,
stw_opensyde_gui_elements--C_OgeWiTableSpinBoxGroup QAbstractSpinBox,
stw_opensyde_gui_elements--C_OgeSpxTableDouble,
stw_opensyde_gui_elements--C_OgeSpxFactorTable,
stw_opensyde_gui_elements--C_OgeCbxTable,
stw_opensyde_gui_elements--C_OgeCbxTable QAbstractItemView,
stw_opensyde_gui_elements--C_OgeLabDashboardChart,
stw_opensyde_gui_elements--C_OgeLabStateInfo,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="false"],
stw_opensyde_gui_elements--C_OgeContextMenu,
stw_opensyde_gui_elements--C_OgeLabDescriptionMessage
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_14 */
stw_opensyde_gui_elements--C_OgePubCancel,
stw_opensyde_gui_elements--C_OgePubDialog,
stw_opensyde_gui_elements--C_OgePubTextOnlyUnderline,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="true"][Bold="false"],
QTextEdit#pc_TextEditDpName,
stw_opensyde_gui--C_SyvDaItPaArView QLabel,
stw_opensyde_gui--C_SdNdeDpListArrayEditView QLabel,
stw_opensyde_gui--C_SdNdeDpListDataSetView QLabel,
stw_opensyde_gui--C_SdNdeDpListDataSetHeaderView,
stw_opensyde_gui--C_SdNdeDpListDataSetHeaderView::section,
stw_opensyde_gui--C_SyvDaPeUpdateModeTableHeaderView,
stw_opensyde_gui--C_SyvDaPeUpdateModeTableHeaderView::section,
stw_opensyde_gui--C_SdNdeSingleHeaderView,
stw_opensyde_gui--C_SdNdeSingleHeaderView::section,
stw_opensyde_gui_elements--C_OgeTreeWidgetToolBarSearch
{
font-family: "Segoe UI Semibold";
font-size: 14px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_BOLD_14 */
stw_opensyde_gui_elements--C_OgeLabToolboxHeadingGroupBold,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_16 */
stw_opensyde_gui_elements--C_OgeLabHeadingGroupBold,
stw_opensyde_gui_elements--C_OgeChxDefaultCheckedDisabled,
stw_opensyde_gui_elements--C_OgeLabStatusInformation,
stw_opensyde_gui_elements--C_OgeLabNodeDataPoolSelectedItems,
stw_opensyde_gui_elements--C_OgeLabComListHeader,
stw_opensyde_gui_elements--C_OgeLabComListHeaderLink,
stw_opensyde_gui_elements--C_OgeRabCheckBox,
stw_opensyde_gui_elements--C_OgeLabListHeader,
stw_opensyde_gui_elements--C_OgeLabListLink,
stw_opensyde_gui_elements--C_OgeSpxEditProperties,
stw_opensyde_gui_elements--C_OgeLabListHeaderHighlighted,
stw_opensyde_gui_elements--C_OgePubZoomNotification,
stw_opensyde_gui_elements--C_OgeLabProgressText,
stw_opensyde_gui_elements--C_OgeTawAlternative QTabBar::tab,
stw_opensyde_gui_elements--C_OgePubUpdate,
stw_opensyde_gui_elements--C_OgeLabHeadingToolTip,
stw_opensyde_gui_elements--C_OgeChxSystemCommisioningEdit,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="16"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_16 */
stw_opensyde_gui_elements--C_OgePubTextOnlyEdit,
stw_opensyde_gui_elements--C_OgePubTextWithBorderEdit,
stw_opensyde_gui_elements--C_OgePubUseCaseNav,
stw_opensyde_gui_elements--C_OgeLabReadSub,
stw_opensyde_gui_elements--C_OgePubProjAction
{
font-family: "Segoe UI Semibold";
font-size: 16px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_BOLD_16 */
stw_opensyde_gui_elements--C_OgeLabHeadingMessage
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_18 */
stw_opensyde_gui_elements--C_OgeLePropertiesName,
stw_opensyde_gui_elements--C_OgeLeListHeader,
stw_opensyde_gui_elements--C_OgeLabTreeNodeDataPool,
stw_opensyde_gui_elements--C_OgeLabListHeaderHeading
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_18 */
stw_opensyde_gui_elements--C_OgeLabHeadingWidgetSubTitle,
stw_opensyde_gui_elements--C_OgeLabHeadingWidgetSubSubTitle,
stw_opensyde_gui_elements--C_OgeTawSelector QTabBar[C_OgeTawSelector="true"]::tab,
stw_opensyde_gui_elements--C_OgePubIconText,
stw_opensyde_gui_elements--C_OgePubUseCase,
stw_opensyde_gui_elements--C_OgeLabReadMain,
stw_opensyde_gui_elements--C_OgeLabUpdateNodeTitle,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="18"][SemiBold="true"][Bold="false"]
{
font-family: "Segoe UI Semibold";
font-size: 18px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_20 */
stw_opensyde_gui_elements--C_OgeLabUpdateHeading,
stw_opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab
{
font-family: "Segoe UI";
font-size: 20px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_20 */
stw_opensyde_gui_elements--C_OgeLabHeadingProperties
{
font-family: "Segoe UI Semibold";
font-size: 20px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_22 */
stw_opensyde_gui_elements--C_OgeLabPopUpSubTitle
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_22 */
stw_opensyde_gui_elements--C_OgeLabParamHeading,
stw_opensyde_gui_elements--C_OgeLabTreeNode,
stw_opensyde_gui_elements--C_OgeLabDashboardTab,
stw_opensyde_gui_elements--C_OgeLabNodeType,
stw_opensyde_gui_elements--C_OgeLabCategorySubHeading
{
font-family: "Segoe UI Semibold";
font-size: 22px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_BOLD_22 */
stw_opensyde_gui_elements--C_OgeLabHeadingWidgetTitle,
stw_opensyde_gui_elements--C_OgeLabHeadingWidget,
stw_opensyde_gui_elements--C_OgeLabHeadingWidgetDark,
/* the "." in front is for only styling C_OgeLabPopUpTitle, and not its subclasses (here: C_OgeLabPopUpSubTitle)
(see https://doc.qt.io/qt-5/stylesheet-syntax.html#selector-types) */
.stw_opensyde_gui_elements--C_OgeLabPopUpTitle,
stw_opensyde_gui_elements--C_OgeLabNodeType
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_24 */
stw_opensyde_gui_elements--C_OgeLeDark,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="24"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 24px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_30 */
stw_opensyde_gui_elements--C_OgeLabCategoryHeading
{
font-family: "Segoe UI";
font-size: 30px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_36 */
stw_opensyde_gui_elements--C_OgeLabUpdateTime
{
font-family: "Segoe UI";
font-size: 36px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_SEMIBOLD_40 */
stw_opensyde_gui_elements--C_OgeLabBusType
{
font-family: "Segoe UI Semibold";
font-size: 40px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR */
stw_opensyde_gui_elements--C_OgeWiDashboardSpinBoxGroup QAbstractSpinBox,
stw_opensyde_gui_elements--C_OgeLabDashboardDefault,
stw_opensyde_gui_elements--C_OgeLabDashboardDefaultNonScaling,
stw_opensyde_gui_elements--C_OgeLabDashboardProgressBarMaximum,
stw_opensyde_gui_elements--C_OgeLabDashboardLabelValue
{
font-family: "Segoe UI";
}

/* STYLE_GUIDE_FONT_BOLD */
stw_opensyde_gui_elements--C_OgeLabDashboardLabelCaption
{
font-family: "Segoe UI";
font-weight: bold;
}
