/* --------------------------------------------------------------------- */
/* STYLE_GUIDE */
/* --------------------------------------------------------------------- */
/* Order:                   */
/*  font size guide index   */
/*    - regular             */
/*    - semi-bold           */
/*    - bold                */

/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_10 */
stw--opensyde_gui_elements--C_OgeLabUpdateAppPath,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="10"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 10px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_11 */
QTextEdit#pc_TextEditDpComment,
stw--opensyde_gui--C_SyvDaItTaView,
stw--opensyde_gui--C_SyvDaItTaView::item,
stw--opensyde_gui--C_SyvDaItPaTreeView,
stw--opensyde_gui--C_SyvDaItPaTreeView::item,
stw--opensyde_gui_elements--C_OgeLeParam,
stw--opensyde_gui_elements--C_OgeWiParamSpinBoxGroup QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeCbxParam,
stw--opensyde_gui_elements--C_OgeCbxParam QAbstractItemView,
stw--opensyde_gui_elements--C_OgeLabStatusInformationSmall,
stw--opensyde_gui_elements--C_OgeLabGroupSubItem,
stw--opensyde_gui--C_SdTopologyListWidget,
stw--opensyde_gui_elements--C_OgeLabProgressLogItem,
stw--opensyde_gui_elements--C_OgeLabTopologyToolboxUserNodes
{
font-family: "Segoe UI";
font-size: 11px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_12 */
stw--opensyde_gui--C_NagTopTreeView,
stw--opensyde_gui_elements--C_OgeTedToolTipContent,
stw--opensyde_gui_elements--C_OgePubNavigationHover,
stw--opensyde_gui_elements--C_OgeLabUpdateAppTitle,
stw--opensyde_gui_elements--C_OgeLabUpdateAppVersion,
stw--opensyde_gui--C_SdTopologyListWidget::item:selected,
stw--opensyde_gui--C_SdTopologyListWidget::item:hover,
stw--opensyde_gui_elements--C_OgeTedTable,
stw--opensyde_gui_elements--C_OgeLabToolBarSearchResultTitle,
stw--opensyde_gui_elements--C_OgeLabToolBarSearchResultSubtitle,
stw--opensyde_gui_elements--C_OgeLabToolBarNoSearchResult,
stw--opensyde_gui_elements--C_OgeLeToolBarSearch,
stw--opensyde_gui_elements--C_OgeTebMessageDetails,
stw--opensyde_gui--C_SdNdeHalcConfigTreeView
stw--opensyde_gui_elements--C_OgeLeTable,
stw--opensyde_gui_elements--C_OgeSpxTable,
stw--opensyde_gui_elements--C_OgeSpxFactorTable,
stw--opensyde_gui_elements--C_OgeSpxTableDouble,
stw--opensyde_gui_elements--C_OgeWiTableSpinBoxGroup QAbstractSpinBox,
stw--opensyde_gui--C_SdNdeDpListDataSetView,
stw--opensyde_gui--C_SdNdeDpListDataSetView::item,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableView,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableView::item,
stw--opensyde_gui--C_SyvDaItPaArView,
stw--opensyde_gui--C_SyvDaItPaArView::item,
stw--opensyde_gui--C_SdNdeDpListArrayEditView,
stw--opensyde_gui--C_SdNdeDpListArrayEditView::item,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView,
stw--opensyde_gui_elements--C_OgeMuTabChartFit::item,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView::item,
stw--opensyde_gui_elements--C_OgeCbxTable,
stw--opensyde_gui_elements--C_OgeCbxTable QAbstractItemView,
stw--opensyde_gui_elements--C_OgeSpxTableHalc QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeCbxTableHalc,
stw--opensyde_gui_elements--C_OgeCbxTableHalc QAbstractItemView,
stw--opensyde_gui_elements--C_OgeCbxMultiSelectTableHalc,
stw--opensyde_gui_elements--C_OgeCbxMultiSelectTableHalc QListWidget,
stw--opensyde_gui_elements--C_OgeLeTableHalc

{
font-family: "Segoe UI";
font-size: 12px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_12 */
stw--opensyde_gui--C_SdNdeSingleHeaderView,
stw--opensyde_gui--C_SdNdeSingleHeaderView::section,
stw--opensyde_gui--C_SdNdeDpListDataSetView QLabel,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableHeaderView,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableHeaderView::section,
stw--opensyde_gui--C_SyvDaItPaArView QLabel,
stw--opensyde_gui--C_SdNdeDpListArrayEditView QLabel,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView QHeaderView,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView QHeaderView::section,
stw--opensyde_gui_elements--C_OgeLabNavigationSubHeading
{
font-family: "Segoe UI";
font-size: 12px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_13 */
stw--opensyde_gui_elements--C_OgePubOptions,
stw--opensyde_gui--C_SyvDaItTaView QHeaderView,
stw--opensyde_gui--C_SyvDaItPaTreeView QHeaderView,
stw--opensyde_gui_elements--C_OgeLabPropertiesSubHeading,
stw--opensyde_gui_elements--C_OgeRabProperties,
stw--opensyde_gui_elements--C_OgeTebLabel,
stw--opensyde_gui_elements--C_OgePubToggle,
stw--opensyde_gui_elements--C_OgeLabGroupItem,
stw--opensyde_gui_elements--C_OgeChxProperties,
stw--opensyde_gui_elements--C_OgeLabGroupItemValue,
stw--opensyde_gui_elements--C_OgeCbxFontProperties,
stw--opensyde_gui_elements--C_OgeCbxFontProperties QListView,
stw--opensyde_gui_elements--C_OgeCbxText,
stw--opensyde_gui_elements--C_OgeCbxTextLineEdit,
stw--opensyde_gui_elements--C_OgeCbxText QListView,
stw--opensyde_gui_elements--C_OgeCbxLine,
stw--opensyde_gui_elements--C_OgeCbxLine QListView,
stw--opensyde_gui_elements--C_OgeCbxArrow,
stw--opensyde_gui_elements--C_OgeCbxArrow QListView,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf QCheckBox,
stw--opensyde_gui_elements--C_OgeLabNodePropComIfTable,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf::item,
stw--opensyde_gui_elements--C_OgeSpxTableComIf,
stw--opensyde_gui_elements--C_OgeSpxNumber,
stw--opensyde_gui_elements--C_OgeSpxDoubleProperties,
stw--opensyde_gui_elements--C_OgeSpxInt64Properties,
stw--opensyde_gui_elements--C_OgeSpxFactorProperties,
stw--opensyde_gui_elements--C_OgeWiSpinBoxGroupProperties QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeTedPropertiesComment,
stw--opensyde_gui_elements--C_OgeTedDbComment,
stw--opensyde_gui_elements--C_OgeTebReport,
stw--opensyde_gui--C_TblTreDataElementView,
stw--opensyde_gui--C_SdBueCoAddSignalsView,
stw--opensyde_gui--C_SdNdeHalcConfigImportView,
stw--opensyde_gui_elements--C_OgeTreeViewCheckable,
stw--opensyde_gui--C_SdBueMessageSelectorTreeWidget,
stw--opensyde_gui--C_SdNdeCoConfigTreeView,
stw--opensyde_gui_elements--C_OgeChxDefaultSmall,
stw--opensyde_gui_elements--C_OgeLeProperties,
stw--opensyde_gui_elements--C_OgeLeIpAddress,
stw--opensyde_gui_elements--C_OgeLeFilePath,
stw--opensyde_gui_elements--C_OgeLePlaceholderVar,
stw--opensyde_gui_elements--C_OgePubProjAction[CanMonitorButton="true"],
stw--opensyde_gui--C_SdNdeDpSelectorAddListWidget,
stw--opensyde_gui_elements--C_OgeMuSections::item,
stw--opensyde_gui_elements--C_OgeMuSections QLabel,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="false"][Bold="false"],
stw--opensyde_gui_elements--C_OgeLabToolboxHeadingGroup,
stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab,
stw--opensyde_gui_elements--C_OgeLabProgressLogHeading,
stw--opensyde_gui--C_SdNdeHalcChannelTreeView,
stw--opensyde_gui_elements--C_OgeLabDashboardChart,
stw--opensyde_gui_elements--C_OgeLabGenericWithContextMenu,
stw--opensyde_gui_elements--C_OgeLabExternalLink,
stw--opensyde_gui--C_SdBueJ1939AddMessagesFromCatalogTreeView,
stw--opensyde_gui--C_SdNdeDalLogJobDataSelectionTableView,
stw--opensyde_gui--C_NagUnUsedProjectFilesTableView,
stw--opensyde_gui--C_SdNdeDalLogJobsListView
{
font-family: "Segoe UI";
font-size: 13px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_13 */
stw--opensyde_gui_elements--C_OgePubProjAction[Border="true"],
stw--opensyde_gui_elements--C_OgePubConfigure,
stw--opensyde_gui_elements--C_OgeLeSearch,
stw--opensyde_gui_elements--C_OgePubToolBar,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf QHeaderView,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf QHeaderView::section,
stw--opensyde_gui_elements--C_OgePubTreeWidgetRoot,
stw--opensyde_gui--C_SdBueNodeSelectorWidget QLabel#pc_BueNodeSelectorTitleLabel,
stw--opensyde_gui_elements--C_OgePubMessageOk,
stw--opensyde_gui_elements--C_OgePubMessageCancel,
stw--opensyde_gui_elements--C_OgePubHalcOverview,
stw--opensyde_gui_elements--C_OgePubDataLoggerJobsOverview,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="true"][Bold="false"],
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[Font="13"][SemiBold="true"][Bold="false"],
stw--opensyde_gui_elements--C_OgePubAddChartDataElement

{
font-family: "Segoe UI";
font-size: 13px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_13 */
stw--opensyde_gui_elements--C_OgePubToggleBold,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 13px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_14 */
stw--opensyde_gui_elements--C_OgeLeNavigation,
stw--opensyde_gui_elements--C_OgeLabFrameError,
stw--opensyde_gui_elements--C_OgePubNavigation,
stw--opensyde_gui_elements--C_OgeChxDefaultCheckedDisabled,
stw--opensyde_gui_elements--C_OgeSpxInt64FactorTable,
stw--opensyde_gui_elements--C_OgeSpxInt64Table,
stw--opensyde_gui_elements--C_OgeLabStateInfo,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="false"],
stw--opensyde_gui_elements--C_OgeLabNodeDataPoolSelectedItems,
stw--opensyde_gui_elements--C_OgeContextMenu,
stw--opensyde_gui_elements--C_OgeLabListHeaderHighlighted,
stw--opensyde_gui_elements--C_OgeLabComListHeader,
stw--opensyde_gui_elements--C_OgeSpxEditProperties,
stw--opensyde_gui_elements--C_OgeLabDescriptionMessage,
stw--opensyde_gui--C_SdNdeCoOverviewTableView,
stw--opensyde_gui--C_SdNdeCoPdoTableView
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_14 */
stw--opensyde_gui_elements--C_OgeLabHeadingToolTip,
stw--opensyde_gui_elements--C_OgePubCancel,
stw--opensyde_gui_elements--C_OgePubDialog,
stw--opensyde_gui_elements--C_OgePubTextOnlyUnderline,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="true"][Bold="false"],
QTextEdit#pc_TextEditDpName,
stw--opensyde_gui--C_SdNdeDpListDataSetHeaderView,
stw--opensyde_gui--C_SdNdeDpListDataSetHeaderView::section,
stw--opensyde_gui_elements--C_OgeTreeWidgetToolBarSearch,
stw--opensyde_gui--C_SdNdeHalcConfigTreeView QHeaderView::section,
stw--opensyde_gui--C_SdBueCoAddSignalsView QHeaderView::section,
stw--opensyde_gui_elements--C_OgePubUpdate,
stw--opensyde_gui_elements--C_OgeChxSystemCommisioningEdit,
stw--opensyde_gui_elements--C_OgePubHalcPanel,
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[Font="14"][SemiBold="true"][Bold="false"],
stw--opensyde_gui--C_SdBueJ1939AddMessagesFromCatalogTreeView QHeaderView::section,
stw--opensyde_gui--C_SdNdeDalLogJobDataSelectionTableView QHeaderView::section,
stw--opensyde_gui--C_NagUnUsedProjectFilesTableView QHeaderView::section
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_14 */
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="true"],
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[Font="14"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_16 */
stw--opensyde_gui_elements--C_OgeLabToolboxHeadingGroupBig,
stw--opensyde_gui_elements--C_OgeLabHeadingGroupBold,
stw--opensyde_gui_elements--C_OgeChxDefaultCheckedDisabled[Font="16"][SemiBold="false"][Bold="false"],
stw--opensyde_gui_elements--C_OgeLabStatusInformation,
stw--opensyde_gui_elements--C_OgeRabCheckBox,
stw--opensyde_gui_elements--C_OgeLabListHeader,
stw--opensyde_gui_elements--C_OgePubZoomNotification,
stw--opensyde_gui_elements--C_OgeLabProgressText,
stw--opensyde_gui_elements--C_OgeLabListHeaderHeading,
stw--opensyde_gui_elements--C_OgeLeListHeader,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="16"][SemiBold="false"][Bold="false"],
stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_16 */
stw--opensyde_gui_elements--C_OgePubTextOnlyEdit,
stw--opensyde_gui_elements--C_OgePubTextWithBorderEdit,
stw--opensyde_gui_elements--C_OgePubUseCaseNav,
stw--opensyde_gui_elements--C_OgeLabReadSub,
stw--opensyde_gui_elements--C_OgePubProjAction,
stw--opensyde_gui_elements--C_OgeLabUpdateNodeTitle,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="16"][SemiBold="true"][Bold="false"],
/*stw--opensyde_gui_elements--C_OgeTawAlternative QTabBar::tab,*/
stw--opensyde_gui_elements--C_OgeLabDashboardTab
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_16 */
stw--opensyde_gui_elements--C_OgeLabHeadingMessage
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_18 */
stw--opensyde_gui_elements--C_OgeLePropertiesName,
stw--opensyde_gui_elements--C_OgeLabTreeNodeDataPool
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_18 */
stw--opensyde_gui_elements--C_OgeLabHeadingWidgetSubTitle,
stw--opensyde_gui_elements--C_OgeLabHeadingWidgetSubSubTitle,
stw--opensyde_gui_elements--C_OgeTawSelector QTabBar::tab,
stw--opensyde_gui_elements--C_OgePubIconText,
stw--opensyde_gui_elements--C_OgePubUseCase,
stw--opensyde_gui_elements--C_OgeLabReadMain,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="18"][SemiBold="true"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_18 */
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="18"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_20 */
stw--opensyde_gui_elements--C_OgeLabUpdateHeading
{
font-family: "Segoe UI";
font-size: 20px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_20 */
stw--opensyde_gui_elements--C_OgeLabHeadingProperties
{
font-family: "Segoe UI";
font-size: 20px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_22 */
stw--opensyde_gui_elements--C_OgeLabPopUpSubTitle
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_22 */
stw--opensyde_gui_elements--C_OgeLabParamHeading,
stw--opensyde_gui_elements--C_OgeLabTreeNode,
stw--opensyde_gui_elements--C_OgeLabNodeType,
stw--opensyde_gui_elements--C_OgeLabCategorySubHeading
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_22 */
stw--opensyde_gui_elements--C_OgeLabHeadingWidgetTitle,
stw--opensyde_gui_elements--C_OgeLabHeadingWidget,
stw--opensyde_gui_elements--C_OgeLabHeadingWidgetDark,
/* the "." in front is for only styling C_OgeLabPopUpTitle, and not its subclasses (here: C_OgeLabPopUpSubTitle)
(see https://doc.qt.io/qt-5/stylesheet-syntax.html#selector-types) */
.stw--opensyde_gui_elements--C_OgeLabPopUpTitle,
stw--opensyde_gui_elements--C_OgeLabNodeType
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_24 */
stw--opensyde_gui_elements--C_OgeLeDark,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="24"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 24px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_30 */
stw--opensyde_gui_elements--C_OgeLabCategoryHeading,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="30"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 30px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_36 */
stw--opensyde_gui_elements--C_OgeLabUpdateTime
{
font-family: "Segoe UI";
font-size: 36px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_36 */
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="36"][SemiBold="true"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 36px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_SEMIBOLD_40 */
stw--opensyde_gui_elements--C_OgeLabBusType
{
font-family: "Segoe UI";
font-size: 40px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR */
stw--opensyde_gui_elements--C_OgeWiDashboardSpinBoxGroup QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeLabDashboardDefault,
stw--opensyde_gui_elements--C_OgeLabDashboardDefaultNonScaling,
stw--opensyde_gui_elements--C_OgeLabDashboardProgressBarMaximum,
stw--opensyde_gui_elements--C_OgeLabDashboardLabelValue
{
font-family: "Segoe UI";
}

/* STYLE_GUIDE_FONT_BOLD */
stw--opensyde_gui_elements--C_OgeLabDashboardLabelCaption
{
font-family: "Segoe UI";
font-weight: bold;
}
