/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbx
{
border-width: 1px;
border-style: solid;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxNavigationSection,
stw--opensyde_gui_elements--C_OgeGbxNavigationTab
{
border-bottom-width: 0px;
border-top-width: 1px;
border-right-width: 0px;
border-style: solid;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxNavigationTab[IncludeLeftBorder="true"]
{
border-left-width: 1px;
}

stw--opensyde_gui_elements--C_OgeGbxNavigationSection,
stw--opensyde_gui_elements--C_OgeGbxNavigationTab[IncludeLeftBorder="false"]
{
border-left-width: 0px;
}

/* --------------------------------------------------------------------- */

stw--opensyde_gui_elements--C_OgeGbxNavigationSection2
{
border-left-width: 1px;
border-bottom-width: 0px;
border-top-width: 0px;
border-right-width: 0px;
border-style: solid;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */

stw--opensyde_gui_elements--C_OgeGbxNavigationSectionSelected
{
border-left-width: 0px;
border-bottom-width: 2px;
border-top-width: 2px;
border-right-width: 0px;
border-style: solid;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxGrayed,
stw--opensyde_gui_elements--C_OgeGbxTransparentToolBarSearch,
stw--opensyde_gui_elements--C_OgeGbxHover,
stw--opensyde_gui_elements--C_OgeGbxListHeader
{
border-style: solid;
border-width: 1px;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxGrayedEdit
{
border-style: solid;
border-width: 1px;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxRead,
stw--opensyde_gui_elements--C_OgeGbxTransparent,
stw--opensyde_gui_elements--C_OgeGbxTransparentDashboard,
stw--opensyde_gui_elements--C_OgeGbxNavigationHeadingBackground
{
border-style: solid;
border-width: 0px;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxToolTip
{
border-style: solid;
border-width: 1px;
padding-top: 0px;
padding-left: 10px;
padding-right: 10px;
padding-bottom:0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeGbxMouseMove
{
border-style: solid;
border-width: 3px;
border-top-width: 22px;
}
