/* --------------------------------------------------------------------- */
/*PageHeadFontType01 */
stw_opensyde_gui_elements--C_OgeLabPageHeading { 
padding-left:-3px;
padding-top:6px;
padding-right:0px;
padding-bottom:10px;
}


stw_opensyde_gui_elements--C_OgeLabPopUpTitle { 
padding-left:20px;
padding-top:15px;
padding-right:0px;
padding-bottom:15px;
}

stw_opensyde_gui_elements--C_OgeLabPopUpSubTitle { 
padding-left:0px;
padding-top:15px;
padding-right:0px;
padding-bottom:15px;
}


stw_opensyde_gui_elements--C_OgeLabHeadingGroup {
padding-left:20px;
padding-top:10px;
padding-right:10px;
padding-bottom:5px;
}


stw_opensyde_gui_elements--C_OgeLabToolboxHeadingGroupBold,
stw_opensyde_gui_elements--C_OgeLabToolboxHeadingGroup {
padding-top:10px;
padding-left:10px;
}

stw_opensyde_gui_elements--C_OgeLabComListHeaderLink {
text-decoration: underline;
}

/* Tab */
stw_opensyde_gui_elements--C_OgeLabDashboardTab {
border-style: none;
}


stw_opensyde_gui--C_SyvDaItDashboardLabelWidget[Style="SKEUOMORPH_DARK"][Type="DEFAULT"],
stw_opensyde_gui--C_SyvDaItDashboardLabelWidget[Style="SKEUOMORPH_BRIGHT"][Type="DEFAULT"] {
/*border-top-width: 17px;
border-top-style: solid;*/
}
stw_opensyde_gui_elements--C_OgeLabDashboardLabelCaption[Style="SKEUOMORPH_DARK"] {
background-color: rgb(30,30,33);                /* Farbe: 32 */
}

stw_opensyde_gui_elements--C_OgeLabDashboardLabelCaption[Style="SKEUOMORPH_BRIGHT"]{
background-color: rgb(91,91,91);                /* Farbe: 34 */
}
stw_opensyde_gui--C_SyvDaItDashboardLabelWidget[Style="SKEUOMORPH_BRIGHT"][Type="TRANSPARENT"] QLabel,
stw_opensyde_gui--C_SyvDaItDashboardLabelWidget[Style="SKEUOMORPH_DARK"][Type="TRANSPARENT"] QLabel{
background-color: transparent;
}

stw_opensyde_gui_elements--C_OgeLabDashboardLabelCaption{
padding: 4px;
}


/* --------------------------------------------------------------------- */
