/* --------------------------------------------------------------------- */
stw--opensyde_gui--C_NagViewList,
stw--opensyde_gui--C_SyvDcConnectedNodeList,
stw--opensyde_gui--C_SyvDcExistingNodeList,
stw--opensyde_gui--C_SdNdeDpSelectorListWidget,
stw--opensyde_gui--C_SyvUpPacListWidget
{
outline: none;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui--C_NagViewList,
stw--opensyde_gui--C_SyvDcConnectedNodeList,
stw--opensyde_gui--C_SyvDcExistingNodeList,
stw--opensyde_gui--C_SdTopologyListWidget,
stw--opensyde_gui--C_SdTopologyListWidget::item:selected,
stw--opensyde_gui--C_SdTopologyListWidget::item:hover,
stw--opensyde_gui--C_SdNdeDbListWidget,
stw--opensyde_gui--C_SdNdeDbListWidget::item:selected,
stw--opensyde_gui--C_SdNdeDbListWidget::item:hover,
stw--opensyde_gui--C_SdNdeDpSelectorListWidget,
stw--opensyde_gui--C_SdNdeDpSelectorListWidget::item:selected,
stw--opensyde_gui--C_SdNdeDpSelectorListWidget::item:hover,
stw--opensyde_gui--C_SyvUpPacListWidget,
stw--opensyde_gui--C_SyvUpPacListWidget::item:selected,
stw--opensyde_gui--C_SyvUpPacListWidget::item:hover
{
border-style: none;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui--C_SdNdeDpSelectorAddListWidget
{
border-style: solid;
border-width: 1px;
}

/* --------------------------------------------------------------------- */
/* padding does not work on list widget item when the border of the item is not set to 0 explicitly */
stw--opensyde_gui--C_SdNdeDpSelectorAddListWidget::item
{
border: 0px;
padding-left: 5px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui--C_SyvDcConnectedNodeList::item,
stw--opensyde_gui--C_SyvDcExistingNodeList::item
{
border-style: none;
border-width: 0px;
border-radius: 0px;
}

/* --------------------------------------------------------------------- */
