/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeDashboardProgressBar[Style="OPENSYDE_2_BRIGHT"],
stw--opensyde_gui_elements--C_OgeDashboardProgressBar[Style="OPENSYDE_2_DARK"],
stw--opensyde_gui_elements--C_OgeDashboardProgressBar[Style="SKEUOMORPH_BRIGHT"]:horizontal,
stw--opensyde_gui_elements--C_OgeDashboardProgressBar[Style="SKEUOMORPH_BRIGHT"]:vertical,
stw--opensyde_gui_elements--C_OgeDashboardProgressBar[Style="SKEUOMORPH_DARK"]:horizontal,
stw--opensyde_gui_elements--C_OgeDashboardProgressBar[Style="SKEUOMORPH_DARK"]:vertical
{
border-width: 1px;
border-style: solid;
}
/* --------------------------------------------------------------------- */
