QPushButton
{
/* suppress dotted rectangle: */
outline: none;
}


/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubIconOnly,
stw_opensyde_gui_elements--C_OgePubToggleBold,
stw_opensyde_gui_elements--C_OgePubToggle
{
border-style: solid;
text-align: center;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubColorOnly
{
border-style: solid;
border-width: 1px;
padding: 0px;
text-align: center;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubCancel
{
border-style: solid;
border-radius:  4px;
border-top-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
padding: 0px;
text-align: center;
}

stw_opensyde_gui_elements--C_OgePubCancel:focus
{
text-decoration: underline;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubUpdate,
stw_opensyde_gui_elements--C_OgePubAddChartDataElement
{
border-style: solid;
border-radius: 0px;
border-width: 1px;
padding: 0px;
padding-left: 22px;
padding-bottom: 1px;
height: 27px; /* 27 (height) + 1  (padding) + 2x1 (Border) = 30 (real height) */
width: 126px; /* 126 (width) + 22 (padding) + 2x1 (Border) = 150 (real width) */
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubDialog
{
border-style: solid;
border-radius: 4px;
border-width: 1px;
}

stw_opensyde_gui_elements--C_OgePubConfigure:enabled
{
border-style: none;
}

stw_opensyde_gui_elements--C_OgePubConfigure:!enabled
{
border-style: solid;
border-width: 1px;
}

stw_opensyde_gui_elements--C_OgePubDialog,
stw_opensyde_gui_elements--C_OgePubConfigure
{
padding: 5px;
text-align: center;
}

stw_opensyde_gui_elements--C_OgePubDialog:focus
{
text-decoration: underline;
}

stw_opensyde_gui_elements--C_OgePubOpen
{
border-style: solid;
border-width: 1px;
border-left-width: 0px;
}

stw_opensyde_gui_elements--C_OgePubPathVariables
{
border-style: solid;
border-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
}

stw_opensyde_gui_elements--C_OgePubPathVariables::menu-indicator
{
width: 0px;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubNavigation,
stw_opensyde_gui_elements--C_OgePubNavigationHover,
stw_opensyde_gui_elements--C_OgePubTextOnlyEdit,
stw_opensyde_gui_elements--C_OgePubTextOnly
{
border-style: none;
}

stw_opensyde_gui_elements--C_OgePubTextWithBorderEdit
{
border-style: solid;
border-radius: 0px;
border-width: 1px;
text-align: center;
padding-bottom: 1px;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubZoomNotification
{
border-radius: 20px;
border-width: 0px;
text-align: center;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubOptions,
stw_opensyde_gui_elements--C_OgePubToolBar,
stw_opensyde_gui_elements--C_OgePubToolBar:pressed
{
border-style: none;
text-align: left;
padding-left: 20px;
padding-right: 20px;
}

stw_opensyde_gui_elements--C_OgePubOptions
{
padding-left: 40px;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubTextOnlyUnderline
{
border-style: solid;
border-width: 0px;
border-bottom-width: 2px;
}
/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubProjAction
{
border-style: none;
padding: 10px;
padding-right: 16px;
padding-left: 54px;
}

stw_opensyde_gui_elements--C_OgePubProjAction[Border="true"]
{
border-style: solid;
border-radius: 0px;
border-width: 1px;
}

stw_opensyde_gui_elements--C_OgePubProjAction[CanMonitorButton="true"]
{
border-style: none;
text-align: left;
padding-left: 43px;
}

stw_opensyde_gui_elements--C_OgePubProjAction[NoIcon="true"]
{
padding: 10px;
}
/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubNavigation
{
padding-left: 26px;
text-align: left;
}

stw_opensyde_gui_elements--C_OgePubNavigationHover
{
padding-left: 27px;
text-align: left;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubMessageOk,
stw_opensyde_gui_elements--C_OgePubMessageCancel
{
border-style: solid;
border-radius: 2px;
border-width: 1px;
text-align: center;
min-height: 30px;
max-height: 30px;
padding-left: 15px;
padding-right: 15px;
}

stw_opensyde_gui_elements--C_OgePubMessageOk:focus,
stw_opensyde_gui_elements--C_OgePubMessageCancel:focus,
stw_opensyde_gui_elements--C_OgePubHalcPanel:focus
{
text-decoration: underline;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubColor
{
border-style: solid;
border-width: 0.5px;
border-radius: 10px;
padding: 5px;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui--C_GiSyColorShower
{
border-style: solid;
border-width: 1px;
border-radius: 14px;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubHalcOverview
{
border-style: solid;
border-width: 1px;
border-bottom-width: 0px;
text-align: left;
padding-left: 19px;
padding-right: 19px;
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubHalcPanel
{
border-style: solid;
border-width: 1px;
border-radius: 0px;
text-align: center;
width: 78px; /*2px border*/
height: 28px; /*2px border*/
}

/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgePubIconChart
{
border-style: solid;
border-width: 1px;
}

stw_opensyde_gui_elements--C_OgePubIconChart:menu-indicator[Style="OPENSYDE_DARK"]
{
image: url(:/images/system_views/dashboards/tab_chart/IconArrowBottomDark.svg);
}

stw_opensyde_gui_elements--C_OgePubIconChart:menu-indicator[Style="OPENSYDE_BRIGHT"]
{
image: url(:/images/system_views/dashboards/tab_chart/IconArrowBottom.svg);
}

stw_opensyde_gui_elements--C_OgePubIconChart:menu-indicator:!enabled
{
image: url(:/images/system_views/dashboards/tab_chart/IconArrowBottomDisabled.svg);
}

stw_opensyde_gui_elements--C_OgePubIconChart:menu-indicator
{
subcontrol-position: right center;
subcontrol-origin: padding;
left: 3px; /*move arrow more to the right*/
}
/* --------------------------------------------------------------------- */

