/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgeSaNaviBar[C_OgeSaNaviBar="true"],
stw_opensyde_gui_elements--C_OgeSaNaviBar QWidget[C_OgeSaNaviBar="true"],
stw_opensyde_gui_elements--C_OgeSaMain,
stw_opensyde_gui_elements--C_OgeDarkScrollArea,
stw_opensyde_gui_elements--C_OgeTransparentScrollArea
{
border-style: none;
border-width: 0px;
}
/* --------------------------------------------------------------------- */
