/* --------------------------------------------------------------------- */
/*Scrollbar generic customization*/
/* --------------------------------------------------------------------- */
QScrollBar:horizontal,
QScrollBar:vertical
{
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}

QScrollBar::sub-line,
QScrollBar::add-line
{
width: 0px;
height: 0px;
}

QScrollBar::add-page,
QScrollBar::sub-page,
QScrollBar::handle
{
border-width: 1px;
border-style: solid;
border-radius: 2px;
}

QScrollBar::sub-page
{
border-bottom-width: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

QScrollBar::add-page
{
border-top-width: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

QScrollBar::handle
{
min-height: 15px;
}

/* --------------------------------------------------------------------- */
/*Scrollbar customization start (mainly: width and padding. Other items are generic */
stw_opensyde_gui_elements--C_OgeTedTable QScrollBar::handle
{
min-height: 0px;
}

/* --------------------------------------------------------------------- */
/* Scroll areas */
stw_opensyde_gui_elements--C_OgeSmoothScrollArea QScrollBar:vertical,
stw_opensyde_gui--C_SebGraphicsView QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeFraFrame QScrollBar:vertical
{
width: 11px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 6px;
padding-top: 15px;
padding-bottom: 15px;
}

stw_opensyde_gui_elements--C_OgeDarkScrollArea QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeSmoothScrollArea QScrollBar:horizontal,
stw_opensyde_gui--C_SebGraphicsView QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeFraFrame QScrollBar:horizontal
{
height: 11px; /*real height of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-bottom: 6px;
padding-left: 15px;
padding-right: 15px;
}

stw_opensyde_gui_elements--C_OgeSaNaviBar QScrollBar:vertical
{
width: 10px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-left: 0px;
padding-right: 5px;
padding-bottom: 4px;
padding-top: 3px;
}

stw_opensyde_gui_elements--C_OgeSaNaviBar QScrollBar:horizontal
{
height: 5px; /*real height of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-top: 0px;
padding-bottom: 0px;
padding-left: 3px;
padding-right: 4px;
}

stw_opensyde_gui_elements--C_OgeTransparentScrollArea QScrollBar:horizontal
{
height: 5px; /*real height of scroll bar is 5px; Real height = height - padding-bottom/top */
}

stw_opensyde_gui_elements--C_OgeTransparentScrollArea QScrollBar:vertical
{
width: 5px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
}

/* --------------------------------------------------------------------- */
/*List/table scrollbar*/
stw_opensyde_gui--C_SyvUpProgressLog QScrollBar:vertical,
stw_opensyde_gui_logic--C_PopFileTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdBueMessageTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeHalcOvTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeCoOverviewTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeCoPdoTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdBueSignalTableView QScrollBar:vertical
{
width: 8px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-left: 3px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
}

stw_opensyde_gui--C_SyvUpProgressLog QScrollBar:horizontal,
stw_opensyde_gui_logic--C_PopFileTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdBueMessageTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeHalcOvTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeCoOverviewTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeCoPdoTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdBueSignalTableView QScrollBar:horizontal
{
height: 8px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-top: 3px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
}

/* --------------------------------------------------------------------- */
/* message tables scroll bar */
stw_opensyde_gui--C_SdBueMessageTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeHalcOvTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeCoOverviewTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeCoPdoTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdBueSignalTableView QScrollBar:vertical
{
width: 8px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-left: 3px;
padding-right: 0px;
padding-top: 34px;
padding-bottom: 0px;
}

/* --------------------------------------------------------------------- */
/* node data pool table scroll bar */
stw_opensyde_gui--C_SdBueMessageRxList QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeDbListWidget QScrollBar[C_SdNdeDbWidget="true"]:vertical,
stw_opensyde_gui--C_SyvDcConnectedNodeList QScrollBar:vertical,
stw_opensyde_gui--C_SyvDcExistingNodeList QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaItPaArView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeSfoResetMessageTableView QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeDpListArrayEditView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeDpListDataSetView QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaPeUpdateModeTableView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeDpListTableView QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaItPaTableView QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaItPaTreeView QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaItTaView QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaItPaListTreeWidget QScrollBar[C_SyvDaItPaListTreeWidget="true"]:vertical,
stw_opensyde_gui--C_SyvDaPeUpdateModeTreeWidget QScrollBar[C_SyvDaPeUpdateModeTreeWidget="true"]:vertical,
stw_opensyde_gui--C_SdNdeDpListsTreeWidget QScrollBar[C_SdNdeDpListsTreeWidget="true"]:vertical
{
width: 10px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-left: 5px;
padding-right: 0px;
padding-bottom: 0px;
}

stw_opensyde_gui--C_SdNdeDpSelectorAddListWidget QScrollBar:vertical,
stw_opensyde_gui--C_SyvUpPacNodeWidget QScrollBar:vertical
{
width: 15px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-left: 5px;
padding-right: 5px;
padding-bottom: 6px;
padding-top: 6px;
}

stw_opensyde_gui--C_SdBueCoAddSignalsView QScrollBar:vertical
{
width: 20px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 3px;
padding-bottom: 3px;
padding-left: 12px;
}

stw_opensyde_gui_elements--C_OgeTableWidgetComIF QScrollBar:vertical
{
padding-top: 28px; /* Header size */
}

stw_opensyde_gui--C_SyvDaItPaTreeView QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaItTaView QScrollBar:vertical,
stw_opensyde_gui--C_SdBueCoAddSignalsView QScrollBar:vertical
{
padding-top: 30px; /* Header size */
}

stw_opensyde_gui--C_SyvDaItPaTableView QScrollBar[C_SyvDaItPaTableView="true"]:vertical
{
padding-top: 30px; /* Header size */
}
stw_opensyde_gui--C_SdNdeDpListTableView QScrollBar[C_SdNdeDpListTableView="true"]:vertical
{
padding-top: 47px; /* Header size should be 50... */
}
stw_opensyde_gui--C_SyvDaPeUpdateModeTableView QScrollBar[C_SyvDaPeUpdateModeTableView="true"]:vertical
{
padding-top: 50px; /* Header size */
}

stw_opensyde_gui--C_SdNdeDpListDataSetView QScrollBar[C_SdNdeDpListDataSetView="true"]:vertical
{
padding-top: 34px; /* Header size */
}

stw_opensyde_gui--C_SyvDaItPaListTreeWidget QScrollBar[C_SyvDaItPaListTreeWidget="true"]:vertical,
stw_opensyde_gui--C_SyvDaPeUpdateModeTreeWidget QScrollBar[C_SyvDaPeUpdateModeTreeWidget="true"]:vertical,
stw_opensyde_gui--C_SdNdeDpListsTreeWidget QScrollBar[C_SdNdeDpListsTreeWidget="true"]:vertical
{
padding-top: 0px;
}

stw_opensyde_gui--C_SyvDaItPaTreeView QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeTableWidgetComIF QScrollBar:horizontal,
stw_opensyde_gui--C_SyvDaItTaView QScrollBar:horizontal,
stw_opensyde_gui--C_SyvDaItPaTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SyvDaPeUpdateModeTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeDpListTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SyvDaItPaListTreeWidget QScrollBar[C_SyvDaItPaListTreeWidget="true"]:horizontal,
stw_opensyde_gui--C_SyvDaPeUpdateModeTreeWidget QScrollBar[C_SyvDaPeUpdateModeTreeWidget="true"]:horizontal,
stw_opensyde_gui--C_SdNdeDpListsTreeWidget QScrollBar[C_SdNdeDpListsTreeWidget="true"]:horizontal
{
height: 10px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-top: 5px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
}

stw_opensyde_gui--C_SyvDaItPaArView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeSfoResetMessageTableView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeDpListArrayEditView QScrollBar:horizontal
{
height: 10px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-top: 5px;
padding-bottom: 0px;
padding-left: 63px; /* Header width */
padding-right: 0px;
}

stw_opensyde_gui--C_SdNdeDpListDataSetView QScrollBar:horizontal
{
height: 10px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-top: 5px;
padding-bottom: 0px;
padding-left: 87px;
padding-right: 0px;
}

/* --------------------------------------------------------------------- */
/*Textedit scrollbar */
stw_opensyde_gui_elements--C_OgeTedPropertiesComment QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeTebReport QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeTedDbComment QScrollBar:vertical
{
width: 5px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 0px;
padding-top: 3px;
padding-bottom: 3px;
}
/*--------- horizontal not tested/used yet*/
stw_opensyde_gui_elements--C_OgeTedPropertiesComment QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeTebReport QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeTedDbComment QScrollBar:horizontal
{
height: 5px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-bottom: 0px;
padding-left: 3px;
padding-right: 3px;
}

/* --------------------------------------------------------------------- */
/* Message box details scrollbar */
stw_opensyde_gui_elements--C_OgeTebMessageDetails QScrollBar:vertical
{
width:10px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right:5px;
padding-top:6px;
padding-bottom:6px;
}
/*--------- horizontal not tested/used yet*/
stw_opensyde_gui_elements--C_OgeTebMessageDetails QScrollBar:horizontal
{
height: 5px; /*real height of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-bottom: 0px;
padding-left: 3px;
padding-right: 3px;
}

/* --------------------------------------------------------------------- */
/*Combo box scrollbar */
stw_opensyde_gui_elements--C_OgeCbxFontProperties QAbstractItemView QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeCbxText QAbstractItemView QScrollBar:vertical
{
width: 7px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 2px;
padding-top: 1px;
padding-bottom: 1px;
}
/*--------- horizontal not tested/used yet*/
stw_opensyde_gui_elements--C_OgeCbxFontProperties QAbstractItemView QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeCbxText QAbstractItemView QScrollBar:horizontal
{
height: 7px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-bottom: 2px;
padding-left: 1px;
padding-right: 1px;
}

stw_opensyde_gui_elements--C_OgeCbxTableHalc QAbstractItemView QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeCbxMultiSelectTableHalc QAbstractItemView QScrollBar:vertical
{
margin-top:5px;
width:9px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right:2px;
padding-left:2px;
padding-top:1px;
padding-bottom:1px;
}
/*--------- horizontal not tested/used yet*/
stw_opensyde_gui_elements--C_OgeCbxTableHalc QAbstractItemView QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeCbxMultiSelectTableHalc QAbstractItemView QScrollBar:horizontal
{
height:9px; /*real width of scroll bar is 5px; Real height = height - padding-bottom/top */
padding-bottom:2px;
padding-top: 2px;
padding-left:1px;
padding-right:1px;
}

/* --------------------------------------------------------------------- */
/*Tree scrollbar */
stw_opensyde_gui--C_SdSearchTreeWidget QScrollBar:vertical
{
width: 8px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
}

stw_opensyde_gui--C_SdBueNodeSelectorCheckBoxListWidget QScrollBar:vertical,
stw_opensyde_gui--C_SyvDaChaDataSelectorWidget QScrollBar:vertical
{
width: 7px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 2px;
padding-top: 3px;
padding-bottom: 3px;
}

stw_opensyde_gui--C_SyvUpPacSectionNodeWidget QScrollBar:vertical
{
width: 9px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 2px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 2px;
}

stw_opensyde_gui_elements--C_OgeDarkScrollArea QScrollBar:vertical,
stw_opensyde_gui--C_TblTreDataElementView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeHalcConfigImportView QScrollBar:vertical,
stw_opensyde_gui_elements--C_OgeTreeViewCheckable QScrollBar:vertical,
stw_opensyde_gui--C_SdBueMessageSelectorTreeWidget QScrollBar[C_SdBueMessageSelectorTreeWidget="true"]:vertical,
stw_opensyde_gui--C_SdNdeCoConfigTreeView QScrollBar:vertical,
stw_opensyde_gui--C_SdNdeHalcChannelTreeView QScrollBar:vertical
{
width: 20px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 12px;
}

stw_opensyde_gui--C_SdNdeHalcConfigTreeView QScrollBar:vertical
{
width: 16px; /*real width of scroll bar is 5px; Real width = width - padding-right/left */
padding-right: 1px;
padding-top: 31px; /*together with HeadingPart.svg this leads to scrollbar below heading*/
padding-bottom: 3px;
padding-left: 10px;
}

/*--------- horizontal not tested/used yet*/
stw_opensyde_gui--C_SdSearchTreeWidget QScrollBar:horizontal,
stw_opensyde_gui--C_TblTreDataElementView QScrollBar:horizontal,
stw_opensyde_gui--C_SdBueCoAddSignalsView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeHalcConfigImportView QScrollBar:horizontal,
stw_opensyde_gui_elements--C_OgeTreeViewCheckable QScrollBar:horizontal,
stw_opensyde_gui--C_SdBueMessageSelectorTreeWidget QScrollBar[C_SdBueMessageSelectorTreeWidget="true"]:horizontal,
stw_opensyde_gui--C_SdNdeCoConfigTreeView QScrollBar:horizontal,
stw_opensyde_gui--C_SdBueNodeSelectorCheckBoxListWidget QScrollBar:horizontal,
stw_opensyde_gui--C_SyvUpPacSectionNodeWidget QScrollBar:horizontal,
stw_opensyde_gui--C_SyvDaChaDataSelectorWidget QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeHalcChannelTreeView QScrollBar:horizontal,
stw_opensyde_gui--C_SdNdeHalcConfigTreeView QScrollBar:horizontal
{
height: 5px; /*real width of scroll bar is 5px; Real width = width - padding-bottom/top */
padding-bottom: 0px;
padding-left: 3px;
padding-right: 3px;
}
/* --------------------------------------------------------------------- */
