/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="OPENSYDE_BRIGHT"]::groove,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="OPENSYDE_DARK"]::groove,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="OPENSYDE_BRIGHT"]::handle,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="OPENSYDE_DARK"]::handle
{
border-style: none;
}

stw--opensyde_gui_elements--C_OgeSliDashboard[Style="OPENSYDE_2_BRIGHT"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="OPENSYDE_2_DARK"]::groove:horizontal
{
height: 3px; 
border-width: 1px;
border-style: solid; 
}

stw--opensyde_gui_elements--C_OgeSliDashboard[Style="FLAT_BRIGHT"][Type="1"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="FLAT_DARK"][Type="1"]::groove:horizontal
{
height: 1px;
}

stw--opensyde_gui_elements--C_OgeSliDashboard[Style="FLAT_BRIGHT"][Type="2"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="FLAT_DARK"][Type="2"]::groove:horizontal
{
height: 3px;
}

stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_BRIGHT"][Type="1"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_DARK"][Type="1"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_BRIGHT"][Type="2"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_DARK"][Type="2"]::groove:horizontal
{
height: 5px; 
border-style: solid;
border-width: 1px;
}

stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_BRIGHT"][Type="1"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_DARK"][Type="1"]::groove:horizontal
{
border-radius: 1px;
}

stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_BRIGHT"][Type="2"]::groove:horizontal,
stw--opensyde_gui_elements--C_OgeSliDashboard[Style="SKEUOMORPH_DARK"][Type="2"]::groove:horizontal
{
border-radius: 2px;
}

stw--opensyde_gui_elements--C_OgeSliDashboard::handle
{
image: none;
}
/* --------------------------------------------------------------------- */
