/* ---------------------------------------------------------------------*/ 
/* Splitter(handle) is painted manually in C_OgeSpiVerticalHandle::paintEvent */
/* ---------------------------------------------------------------------*/ 
