/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeTawToolBox::pane
{
border-style: solid;
border-width: 1px;
border-top-width: 0px;
}

stw--opensyde_gui_elements--C_OgeTawAlternative::tab-bar,
stw--opensyde_gui_elements--C_OgeTawToolBox::tab-bar,
stw--opensyde_gui_elements--C_OgeTawPageNavi::tab-bar,
stw--opensyde_gui_elements--C_OgeTawSelector::tab-bar
{
width: 999999px;
}

stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar
{
border-style: solid;
border-width: 1px;
}

stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab
{
border-style: solid;
border-width: 1px;
border-right-width: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 1px;
}

stw--opensyde_gui_elements--C_OgeTawAlternative QTabBar::tab,
stw--opensyde_gui_elements--C_OgeTawAlternative QTabBar::tab:selected
{
border-style: solid;
border-bottom-width:3px;
margin-right: 19px;
padding: 8px;
padding-bottom: 4px;
}

stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab:selected
{
border-style: solid;
}

stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab:last
{
border-right-width: 1px;
}

/* --------------------------------------------------------------------- */
/* Toolbox TabWidget */
stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab:selected
{
border-bottom-width: 0px;
padding-bottom: 4px;
}
stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab
{
padding-bottom: 3px;
min-height: 17px;
}


/* --------------------------------------------------------------------- */
/* NaviPage TabWidget */
stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar,
stw--opensyde_gui_elements--C_OgeTawAlternative QTabBar,
stw--opensyde_gui_elements--C_OgeTawSelector QTabBar[C_OgeTawSelector="true"],
stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar,
stw--opensyde_gui--C_SyvDaDashboardSelectorTabWidget::pane,
stw--opensyde_gui_elements--C_OgeTawPageNavi::pane,
stw--opensyde_gui_elements--C_OgeTawAlternative::pane,
stw--opensyde_gui_elements--C_OgeTawSelector::pane
{
border-style: none;
}

stw--opensyde_gui--C_SyvDaDashboardSelectorTabWidget::tab-bar
{
left: 50px;
}

stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab,
stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab:selected
{
border-style: solid;
border-bottom-width:3px;
margin-right: 5px;
margin-top: 3px;
padding-bottom: 1px;
min-height: 26px;
min-width: 200px;
}

stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab:first,
stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab[OnlyOneItem="true"]
{
margin-left: 20px;
}

stw--opensyde_gui_elements--C_OgeTawSelector QTabBar[C_OgeTawSelector="true"]::tab,
stw--opensyde_gui_elements--C_OgeTawSelector QTabBar[C_OgeTawSelector="true"]::tab:selected
{
border-style: none;
margin-right: 5px;
padding-bottom: 4px;
min-height: 36px;
min-width: 200px;
}

stw--opensyde_gui_elements--C_OgeTawSelector QTabBar[C_OgeTawSelector="true"]::tab:first
{
margin-left: 9px;
}


stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar::tab,
stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar::tab:selected
{
border-style: none;
margin: 0px;
}

/* --------------------------------------------------------------------- */
/* TabBar scroll buttons */
stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar QToolButton
{
border-style: none;
}

stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar QToolButton::right-arrow
{
image: url(://images/IconArrowRightActive.png);
}

stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar QToolButton::left-arrow
{
image: url(://images/IconArrowLeftActive.png);
}

stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar QToolButton::right-arrow[DarkMode="true"]
{
image: url(://images/IconArrowRightActiveDark.png);
}

stw--opensyde_gui--C_SyvDaDashboardSelectorTabBar QToolButton::left-arrow[DarkMode="true"]
{
image: url(://images/IconArrowLeftActiveDark.png);
}
