#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,53,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "Sensor-Technik Wiedemann GmbH\0"
            VALUE "FileDescription",    "openSYDE CAN Monitor\0"
			VALUE "LegalCopyright",     "STW (c) 2018\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
IDI_ICON1               ICON    DISCARDABLE     "../src/can_monitor/images/CAN_Monitor_logo.ico"
