/* --------------------------------------------------------------------- */
/* STYLE_GUIDE */
/* --------------------------------------------------------------------- */
/* Order:                         */
/*    font size guide index       */
/*       - regular                */
/*       - semi-bold              */
/*       - bold                   */

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_NORMAL_10 */
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="10"][SemiBold="false"][Bold="false"]
{
font-family:"Segoe UI";
font-size:10px;
font-weight:normal;
}

/* STYLE_GUIDE_FONT_BOLD_10 */
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="10"][SemiBold="false"][Bold="true"]
{
font-family:"Segoe UI";
font-size:10px;
font-weight:bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_11 */
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="11"][SemiBold="false"][Bold="false"],
stw_opensyde_gui_elements--C_OgeTedPropertiesComment,
stw_opensyde_gui_elements--C_OgeTebMessageDetails,
stw_opensyde_gui_elements--C_CamOgeSpxProperties,
stw_opensyde_gui_elements--C_CamOgeLeIDPopUp,
stw_opensyde_gui_elements--C_OgeLeProperties
{
font-family:"Segoe UI";
font-size:11px;
font-weight:normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_12 */
stw_opensyde_gui--C_CamGenTableView,
stw_opensyde_gui--C_CamMosFilterTableView,
stw_opensyde_gui--C_CamGenSigTableView,
stw_opensyde_gui_elements--C_CamOgeCbxTable,
stw_opensyde_gui_elements--C_CamOgeWiSpinBoxGroupTable QAbstractSpinBox,
stw_opensyde_gui_elements--C_CamOgeLeTableEdit,
stw_opensyde_gui_elements--C_CamOgeCbxTableSmall,
stw_opensyde_gui_elements--C_CamOgeCbxTable QAbstractItemView,
stw_opensyde_gui_elements--C_CamOgeCbxTableSmall QAbstractItemView,
stw_opensyde_gui--C_CamMetTreeView,
stw_opensyde_gui--C_CamMosDatabaseSelectionView,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="12"][SemiBold="false"][Bold="false"],
stw_opensyde_gui_elements--C_OgeRabProperties[BrightBackground="true"],
stw_opensyde_gui_elements--C_OgeCbxText QListView,
stw_opensyde_gui_elements--C_OgeTedToolTipContent,
stw_opensyde_gui_elements--C_OgeContextMenu,
stw_opensyde_gui_elements--C_OgeLabGroupItemValue,
stw_opensyde_gui_elements--C_OgeCbxText,
stw_opensyde_gui_elements--C_CamOgeMuRecentProjects::item,
stw_opensyde_gui_elements--C_OgeMuSections::item,
stw_opensyde_gui_elements--C_OgeMuSections QLabel
{
font-family:"Segoe UI";
font-size:12px;
font-weight:normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_12 */
stw_opensyde_gui_elements--C_OgePubConfigure
{
font-family:"Segoe UI Semibold";
font-size:12px;
font-weight:normal;
}
/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_13 */
stw_opensyde_gui_elements--C_CamOgeCbxWhite,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="false"][Bold="false"],
stw_opensyde_gui_elements--C_OgeLeDark,
stw_opensyde_gui_elements--C_CamOgeLeFilePath,
stw_opensyde_gui_elements--C_CamOgeCbxDark,
stw_opensyde_gui_elements--C_CamOgeCbxDark QListView,
stw_opensyde_gui_elements--C_CamOgePubSettingsAdd,
stw_opensyde_gui_elements--C_CamOgeChxSettings,
stw_opensyde_gui_elements--C_OgeRabProperties[DarkBackground="true"]
{
font-family:"Segoe UI";
font-size:13px;
font-weight:normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_13 */
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="true"][Bold="false"],
stw_opensyde_gui_elements--C_OgePubProjAction,
stw_opensyde_gui_elements--C_OgePubCancel,
stw_opensyde_gui_elements--C_OgePubDialog,
stw_opensyde_gui_elements--C_OgePubMessageOk,
stw_opensyde_gui_elements--C_OgePubMessageCancel
{
font-family:"Segoe UI Semibold";
font-size:13px;
font-weight:normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_14 */
stw_opensyde_gui_elements--C_CamOgeLabStatusBar,
stw_opensyde_gui_elements--C_OgeLabDescriptionMessage,
stw_opensyde_gui_elements--C_OgeLabHeadingGroupBold,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="false"]
{
font-family:"Segoe UI";
font-size:14px;
font-weight:normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_14 */
stw_opensyde_gui--C_CamGenSigTableView QHeaderView,
stw_opensyde_gui--C_CamGenTableView QHeaderView,
stw_opensyde_gui--C_CamMosFilterTableView QHeaderView,
stw_opensyde_gui--C_CamMetTreeView QHeaderView,
stw_opensyde_gui_elements--C_OgeLabHeadingToolTip,
stw_opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="true"][Bold="false"]
{
font-family:"Segoe UI Semibold";
font-size:14px;
font-weight:normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_16 */
stw_opensyde_gui_elements--C_OgeLePropertiesName
{
font-family:"Segoe UI";
font-size:16px;
font-weight:normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_16 */
stw_opensyde_gui_elements--C_CamOgePubAbout,
stw_opensyde_gui_elements--C_CamOgePubProjOp,
stw_opensyde_gui_elements--C_CamOgeTobRecentProjects
{
font-family:"Segoe UI Semibold";
font-size:16px;
font-weight:normal;
}

/* STYLE_GUIDE_FONT_BOLD_16 */
stw_opensyde_gui_elements--C_OgeLabHeadingMessage
{
font-family:"Segoe UI";
font-size: 16px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_SEMIBOLD_18 */
stw_opensyde_gui_elements--C_OgePubIconText
{
font-family:"Segoe UI Semibold";
font-size:18px;
font-weight:normal;
}



/* --------------------------------------------------------------------- */
/* Order distorted: first C_OgeLabPopUpTitle, then C_OgeLabPopUpSubTitle (see GUI project)
/* STYLE_GUIDE_FONT_BOLD_20 */
/* C_OgeLabPopUpTitle before (!) C_OgeLabPopUpSubTitle */
stw_opensyde_gui_elements--C_OgeLabPopUpTitle
{
font-family:"Segoe UI";
font-size:20px;
font-weight:bold;
}

/* STYLE_GUIDE_FONT_NORMAL_20 */
/* C_OgeLabPopUpSubTitle after (!) C_OgeLabPopUpTitle */
stw_opensyde_gui_elements--C_OgeLabPopUpSubTitle
{
font-family:"Segoe UI";
font-size:20px;
font-weight:normal;
}
