/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeLabPopUpTitle
{
padding-left:20px;
padding-top:15px;
padding-right:0px;
padding-bottom:15px;
}

stw--opensyde_gui_elements--C_OgeLabPopUpSubTitle
{
padding-left:0px;
padding-top:15px;
padding-right:0px;
padding-bottom:15px;
}
/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeMuSections QLabel
{
padding: 5px;
}

/* --------------------------------------------------------------------- */
