/* --------------------------------------------------------------------- */
stw_opensyde_gui_elements--C_OgeRabProperties::indicator
{
border-style: none;
margin-right: 4px;
}

stw_opensyde_gui_elements--C_OgeRabProperties[DarkBackground="true"]::indicator:!checked
{
image: url(://images/IconRadioButtonInactive.svg);
}

stw_opensyde_gui_elements--C_OgeRabProperties[BrightBackground="true"]::indicator:!checked
{
image: url(://images/IconRadioButtonInactiveBackground.svg);
}

stw_opensyde_gui_elements--C_OgeRabProperties::indicator:checked
{
image: url(://images/IconRadioButtonActive.svg);
}

stw_opensyde_gui_elements--C_OgeRabProperties::indicator:checked:disabled
{
image: url(://images/IconRadioButtonActiveDisabled.svg);
}
/* --------------------------------------------------------------------- */
