/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeSaMain,
stw--opensyde_gui_elements--C_OgeTransparentScrollArea
{
border-style: none;
border-width: 0px;
}
/* --------------------------------------------------------------------- */
