/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgeTebMessageDetails
{
border-style:solid;
border-width: 1px;
padding-left:8px;
padding-right:5px;    /*Affects the position of the scrollbars*/
padding-top:3px;
padding-bottom:3px;
}

/* --------------------------------------------------------------------- */
