/* --------------------------------------------------------------------- */
stw--opensyde_gui--C_CamMetTreeView
{
border-style: solid;
border-top-width: 0px;
border-bottom-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
}

stw--opensyde_gui--C_CamMetTreeView QHeaderView::section
{
margin-top: 1px;
margin-bottom: 1px;
padding-bottom: 4px;
padding-top: 2px;
padding-left: 4px;
border-style: solid;
border-top-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-right-width: 1px;
}

stw--opensyde_gui--C_CamMetTreeView QHeaderView::section:first
{
padding-left: 8px;
}

stw--opensyde_gui--C_CamMetTreeView QHeaderView
{
border-style: solid;
border-top-width: 1px;
border-bottom-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
}

stw--opensyde_gui--C_CamMosDatabaseSelectionView,
stw--opensyde_gui--C_CamMetTreeView
{
outline:none;
}

/* Database selection tree */
stw--opensyde_gui--C_CamMosDatabaseSelectionView {
border-style: none;
}

stw--opensyde_gui--C_CamMosDatabaseSelectionView::item {
border-style: none;
margin-top: 3px;
margin-bottom: 3px;
}

stw--opensyde_gui--C_CamMosDatabaseSelectionView::branch {
margin-top:3px;
margin-bottom:3px;
}

/* Icons */
/* closed */
stw--opensyde_gui--C_CamMetTreeView::branch:has-children:!has-siblings:closed,
stw--opensyde_gui--C_CamMetTreeView::branch:closed:has-children:has-siblings
{
border-image: none;
image:url(:/images/IconArrowSmallOpen.png);
}

stw--opensyde_gui--C_CamMosDatabaseSelectionView::branch:has-children:!has-siblings:closed,
stw--opensyde_gui--C_CamMosDatabaseSelectionView::branch:closed:has-children:has-siblings
{
border-image: none;
image:url(://images/IconArrowSmallOpenBlue.png);
}

/* open */
stw--opensyde_gui--C_CamMetTreeView::branch:has-children:!has-siblings:open,
stw--opensyde_gui--C_CamMetTreeView::branch:open:has-children:has-siblings
{
border-image: none;
image:url(:/images/IconArrowSmallCloseGray.png);
}

stw--opensyde_gui--C_CamMosDatabaseSelectionView::branch:open:has-children:!has-siblings,
stw--opensyde_gui--C_CamMosDatabaseSelectionView::branch:open:has-children:has-siblings
{
border-image: none;
image:url(://images/IconArrowSmallClose.png);
}

/* -- Sort indicator -- */
stw--opensyde_gui--C_CamMetTreeView QHeaderView::down-arrow {
width: 21px;
height: 21px;
image: url(://images/IconMoveDown.svg) 0 0 0 0 stretch stretch;
}

stw--opensyde_gui--C_CamMetTreeView QHeaderView::up-arrow {
width: 21px;
height: 21px;
image: url(://images/IconMoveUp.svg) 0 0 0 0 stretch stretch;
}
